{
	admin 0.0.0.0:2019
	# ---------- L4: native MQTT/TLS on :8883 ---------- 
	layer4 {
		:8883 {
			route {
				tls
				proxy {
					upstream mqtt5:1883
				}
			}
		}
	}
}

*.cerberalarms.com {
	tls {
		key_type rsa2048
		issuer acme {
			dns cloudflare {env.CF_API_TOKEN}
			propagation_delay 2m
			resolvers 1.1.1.1
		}
	}

	@caddy host caddy.{$DOMAIN}
	handle @caddy {
		root * /usr/share/caddy
		file_server
	}

	@api host api.{$DOMAIN}
	handle @api {
		reverse_proxy http://express-backend:3000
	}

	@mqttws host mqtt.{$DOMAIN}
	handle @mqttws {
		reverse_proxy http://mqtt5:9001 
	}
}